## JSON(javascript Object Notation == Python Dictionary)

In [19]:
import json

In [20]:
data = {
    "name": "왕눈이",
    "age": 30,
    "city": "서울"    
}

print(type(data))
print(data['name'])

<class 'dict'>
왕눈이

In [21]:
data = '''{
    "name": "왕눈이",
    "age": 30,
    "city": "서울"    
}'''

print(type(data))
# print(data['name']) # X

<class 'str'>

In [22]:
"""
아래는 파이썬 코드아, json 객체로 변환하는 방법 알려줘

data = '''{
    "name": "왕눈이",
    "age": 30,
    "city": "서울"    
}'''
"""

'\n아래는 파이썬 코드아, json 객체로 변환하는 방법 알려줘\n\ndata = \'\'\'{\n    "name": "왕눈이",\n    "age": 30,\n    "city": "서울"    \n}\'\'\'\n'

In [26]:
# JSON 문자열을 파이썬 딕셔너리로 변환
data_dict = json.loads(data) # str -> json(dict)

print(type(data_dict))  # 데이터 타입 확인
print(data_dict)
print(data_dict['name'])

<class 'dict'>
{'name': '왕눈이', 'age': 30, 'city': '서울'}
왕눈이

In [25]:
data_str = json.dumps(data_dict) # json(dict) -> str
print(type(data_str))

<class 'str'>

In [31]:
# JSON 객체 배열 생성 예제, list, dictionary, json 객체 배열 표현 가능
data_list = [
    {
        "name": "John",
        "age": 30,
        "city": "New York"
    },
    {
        "name": "Alice",
        "age": 25,
        "city": "San Francisco"
    },
    {
        "name": "Bob",
        "age": 35,
        "city": "Los Angeles"
    }
]

In [37]:
print(type(data_list)) # list

# data_json = json.loads(data_list) # X
# print(type(data_json))

data_str = str(data_list)
print(data_str)
print(type(data_str))

<class 'list'>
[{'name': 'John', 'age': 30, 'city': 'New York'}, {'name': 'Alice', 'age': 25, 'city': 'San Francisco'}, {'name': 'Bob', 'age': 35, 'city': 'Los Angeles'}]
<class 'str'>

In [40]:
data_str = data_str.replace("\'", "\"")
print(data_str)

[{"name": "John", "age": 30, "city": "New York"}, {"name": "Alice", "age": 25, "city": "San Francisco"}, {"name": "Bob", "age": 35, "city": "Los Angeles"}]

In [41]:
data_json = json.loads(data_str)
print(data_json)
print(type(data_json)) # json 객체 배열 표현 가능

# data_json = json.loads(data_list) # X
# print(type(data_json))
# JSON 배열로 변환
# json_string = json.dumps(data_list) # dictionary -> json string
# print(json_string)
# print(type(json_string))

[{'name': 'John', 'age': 30, 'city': 'New York'}, {'name': 'Alice', 'age': 25, 'city': 'San Francisco'}, {'name': 'Bob', 'age': 35, 'city': 'Los Angeles'}]
<class 'list'>

In [42]:
data_str = '''[
    {
        "name": "John",
        "age": 30,
        "city": "New York"
    },
    {
        "name": "Alice",
        "age": 25,
        "city": "San Francisco"
    },
    {
        "name": "Bob",
        "age": 35,
        "city": "Los Angeles"
    }
]
'''

In [44]:
data_json = json.loads(data_str)
print(type(data_json))
for item in data_json:
    print(item)

<class 'list'>
{'name': 'John', 'age': 30, 'city': 'New York'}
{'name': 'Alice', 'age': 25, 'city': 'San Francisco'}
{'name': 'Bob', 'age': 35, 'city': 'Los Angeles'}

In [45]:
# JSON 객체 안에 JSON 객체와 배열 생성 예제
data = {
    "name": "John",
    "age": 30,
    "address": {
        "street": "123 Main St",
        "city": "New York"
    },
    "hobbies": ["reading", "painting", "traveling"]
}

# JSON 객체를 문자열로 변환
json_string = json.dumps(data) # dict -> json 문자열
print(json_string)

{"name": "John", "age": 30, "address": {"street": "123 Main St", "city": "New York"}, "hobbies": ["reading", "painting", "traveling"]}

In [48]:
# JSON 형식의 문자열 정의
json_str = '''{"name": "John", 
               "age": 30, 
               "address": {"street": "123 Main St", "city": "New York"}, 
               "hobbies": ["reading", "painting", "traveling"]
            }'''

# JSON 문자열을 Python 데이터로 파싱
json_data = json.loads(json_str)

# 'address' 객체에서 'city' 값을 추출하여 변수에 저장
city_value = data['address']['city']

# 'city_value' 변수의 값을 출력
print(city_value)

New York